// Styling for the contact section
section#contact {
  // background-color: $gray-900;
  // background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: black;
  }
}

@media screen and (max-width: 780px) {
    .iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}
