// Styling for the fun section
.fun-event {
  margin-bottom: 50px;
  text-align: center;
  width: 400px;
  max-width: 40vw;
  // max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  img {
    // width: 400px;
    height: 300px;
    // border: 7px solid fade-out($black, 0.9);
    object-fit: contain;
    // object-fit: fill;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    // width: 400px;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: left;
  }
}

@media screen and (max-width: 540px) { // Cell phones
  .fun-event {
    max-width: 80vw;
    margin-left: 0;
    img {
      height: auto;
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 780px) { // tablet
  .fun-event {
    max-width: 40vw;
    margin-left: 0 auto;
  }
  img {
    height: auto;
    object-fit: contain;
  }
}

.fun-event-wide {
  margin-bottom: 50px;
  text-align: center;
  width: 1100px;
  max-width: 80vw;
  margin-left: 0 auto;
  margin-right: 0 auto;
  img {
    // width: 800px;
    // height: 300px;
    // border: 7px solid fade-out($black, 0.9);
    object-fit: contain;
    // object-fit: fill;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    // width: 800px;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: left;
  }
}
