// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  // background-size: contain;
  // height: 960px;
  height: 100vh;
  // max-width: 100vw;
  // max-height: 100vh;
  // width: 100%
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

// @media screen and (max-width: 540px) {
//   header.masthead {
//     width: 100vw;
//     // max-width: 100vw;
//     // max-height: 100vh;
//   }
// }
//
// @media screen and (max-width: 780px) {
//   header.masthead {
//     width: 100vw;
//     // max-width: 100vw;
//     // max-height: 100vh;
//   }
// }

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 60px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
